*,*::after,*::before {
  margin: 0;
  font-family: "Roboto";
  padding:0;
  box-sizing: border-box;

}
.navigation-bar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding:0px 25px;
}


.company{
  font-size: 28px ;
  font-weight: bold;
}

.user-name{
  font-size: 24px;
}